.reset-button {
  position: relative;
  outline: 0;
  border: 1px solid transparent;
  background-color: #488aec;
  color: #ffffff;
  font-size: 10px;
  line-height: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0.35rem 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
}

.reset-button span {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  transition: all .4s ease;
}

.reset-button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.reset-button span:nth-child(2),.reset-button span:nth-child(3) {
  position: absolute;
  top: 40px;
  color: #fff;
}

.reset-button span:nth-child(2) {
  background-color: #488aec;
}

.reset-button span:nth-child(3) {
  background-color: #488aec;
}

.reset-button:hover {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.reset-button:hover span:nth-child(2), .reset-button:focus span:nth-child(3) {
  top: 0;
}

.reset-button:focus {
  box-shadow: none;
}