.box {
  border: 2px solid hsl(0, 0%, 51%);
  background: transparent;
  border-radius: 5px;
  margin: 2px;
}

/* top section */
.hero {
  display: flex;
  align-items: flex-start;
  /* gap: 4px; */
  padding: 2px;
  /* margin-bottom: 8px; */
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hero-main {
  flex: 1;
  height: 50px;
  justify-items: center;
}

.strip-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* gap: 4px; */
  /* margin-bottom: 8px; */
}

.strip {
  height: 50px;
  /* padding: 4px; */
}

.small-row {
  display: flex;
  /* gap: 4px; */
}

.small-square {
  height: 42px;
  width: 42px;
}

.small-rect {
  height: 42px;
  width: 300px;
  padding-right: -42px
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 5px;
  height: 100%
  /* padding: 0 40px; */
}

.card-wrapper {
  height: 200px
}

.card {
  width: 100%;
  padding-top: 100%; /* perfect square */
  position: relative;
}

.card::after {
  content: " ";
  position: absolute;
  inset: 2%;
  border: 2px solid #252525;
  /* margin-bottom: 40px; */
  height: 135px
}

/* light dummy text (optional) */
.placeholder {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #585858;
  pointer-events: none;
}

.infinite-box {
  padding: 5px;
  border: 2px solid hsl(0, 0%, 51%);
  margin: 2px;
}

.sticky-header {
  position: sticky;
  top: 0;
  background: white;
  margin-top: -4px;
  /* border: 2px solid #aaa; */
  border-radius: 12px;
  z-index: 5;
}

.statement-block{
  display: block;
  height: 32px;
  width: 100%;
  font-size: x-small;
  overflow: auto
}