.carousel-row {
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
  height: 65px;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
}

/* sliding wrapper */
.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

/* slide */
.carousel-slide {
  width: 70%;
  height: 95%;
  flex-shrink: 0;
  border: none;
  border: 2px solid #656464;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #999;
}

.carousel-slide:first-child {
  margin-left: 15%;
}