/* From Uiverse.io by mahiatlinux */
ul {
  list-style: none;
}

.sticky-dock {
position: sticky;
  bottom: 0;
  background: white;
  margin-top: -4px;
  /* border: 2px solid #aaa; */
  border-radius: 12px;
  z-index: 5;
}

.dock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder; /* Made bolder */
  background-color: #e8e6e6; /* Black background */
  border-radius: 30px; /* Added border-radius to make the container rounded */
  padding: 20px; /* Added padding for better appearance */
  height: 50px;
  width: 100%;
  margin-bottom: 0
}

.dock .icon-content {
  margin: 0 12px;
  position: relative;
  font-weight: bolder; /* Made bolder */
}

.dock .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff; /* White background */
  color: #060606; /* Black text */
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
  font-weight: bolder; /* Made bolder */
}

.dock .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}

.dock .icon-content .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff; /* White icons */
  background-color: #000; /* Black background */
  transition: all 0.3s ease-in-out;
  font-weight: bolder; /* Made bolder */
}

.dock .icon-content .link:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.dock .icon-content .link svg {
  width: 30px;
  height: 30px;
  fill: #fff; /* White icons */
}

.dock .icon-content .link[data-social="share"]:hover {
  color: #0088cc;
}

.dock .icon-content .link[data-social="pinterest"]:hover {
  color: #bd081c;
}

.dock .icon-content .link[data-social="contact"]:hover {
  color: #ea4c89;
}

.dock .icon-content .link[data-social="settings"]:hover {
  color: #1db954;
}

.dock .icon-content .link[data-social="Add Item"]:hover {
  color: #bd081c;
}
