.otp-input {
    width: 35px !important;
    margin: 0px 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold !important;
}

input{
    box-shadow: -2px 2px 5px gray;
}

.shadow-btm {
    box-shadow: 0px 2px 0px 0px gray;
}