.bg-purple {
  background-color: #8869c6;
}

.bg-violet {
  background-color: #712cf9;;
}

.color-red {
  color: red
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ced4da !important; /* Optional */
}